<h3><%= @question.title %></h3>
<div><%= link_to "Edit question", edit_question_path %></div><br/>
<div><%= @question.description %></div><br/>
<div><%= link_to "Return to question list", question_path %></div></br>

<h3>Answer the question</h3>
<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors.any? %>
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :response %>
    <%= f.text_area :response %>
  </div><br/>

  <%= f.submit %>
<% end %>

<br/><br/>

<h3>Answers</h3>
<ul>
    <% @question.answers.order(created_at: :desc).each do |answer| %>
      <li><%= answer.response %></li>
    <% end %>
</ul><br/><br/>

<div>
  <%= link_to "Delete question", question_path, method: :delete, data: {
  confirm: "Are you sure?" } %>
</div>

